body{
  background-color:rgb(10, 126, 126);
}

.icon{
    font-size: 35px;
}

.gif{
  margin-left: 300px;
  height: 200px;
  width: 300px;
}

.gif1{
  margin-left: 120px;
  height: 200px;
  width: 300px;
}

.Brave{
  margin-left: 120px;
  height: 200px;
  width: 300px;
}
