
/* h5{
  color:rgb(245, 72, 72);
} */

/* .newsimg{
  width: 90%;
  height: 70%;
} */

h4{
  
    font-family: 'Days One', sans-serif;
    color:rgb(165, 197, 23);
    font-size: 20px;
    text-align: left;
} 

.Cont{
  margin-top: 30px;
  margin-left: 100px;
} 

.News{
  margin-left: 50px;
  margin-top: 8px;
  float: left;
}

.Scheduled{
  margin-right: 10px;
  margin-top: 220px;
  float: right;
}